<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bats1_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 1}, {60, 96}}</string>
			<key>spriteOffset</key>
			<string>{5, 26}</string>
			<key>spriteSize</key>
			<string>{60, 96}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 0}, {60, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bats3_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 51}, {140, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{140, 52}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 19}, {140, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bats4_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 48}, {54, 102}}</string>
			<key>spriteOffset</key>
			<string>{-3, -24}</string>
			<key>spriteSize</key>
			<string>{54, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 8}, {54, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bats5_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 32}, {76, 68}}</string>
			<key>spriteOffset</key>
			<string>{-2, 9}</string>
			<key>spriteSize</key>
			<string>{76, 68}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 19}, {76, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bats6_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 4}, {76, 92}}</string>
			<key>spriteOffset</key>
			<string>{13, 25}</string>
			<key>spriteSize</key>
			<string>{76, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{13, 129}, {76, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>