<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Drake000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {52, 117}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{52, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {52, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {48, 95}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{48, 95}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 18}, {48, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {52, 117}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{52, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, -1}, {52, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {54, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{54, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, -2}, {54, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {54, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, -5}, {54, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {58, 117}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{58, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 2}, {58, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Drake006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 117}</string>
			<key>spriteSourceSize</key>
			<string>{60, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{439, 9}, {60, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>