<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Ghoul001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {68, 119}}</string>
			<key>spriteOffset</key>
			<string>{-8, -7}</string>
			<key>spriteSize</key>
			<string>{68, 119}</string>
			<key>spriteSourceSize</key>
			<string>{84, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 5}, {68, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ghoul008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 11}, {70, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{70, 121}</string>
			<key>spriteSourceSize</key>
			<string>{84, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 5}, {70, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ghoul011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {64, 123}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{64, 123}</string>
			<key>spriteSourceSize</key>
			<string>{84, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, -10}, {64, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ghoul014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {70, 121}}</string>
			<key>spriteOffset</key>
			<string>{4, -5}</string>
			<key>spriteSize</key>
			<string>{70, 121}</string>
			<key>spriteSourceSize</key>
			<string>{84, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{373, 2}, {70, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ghoul017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 11}, {66, 121}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{66, 121}</string>
			<key>spriteSourceSize</key>
			<string>{84, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 0}, {66, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>