<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Joker000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 141}</string>
			<key>spriteSourceSize</key>
			<string>{97, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Joker001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 141}</string>
			<key>spriteSourceSize</key>
			<string>{97, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 3}, {97, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Joker002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 141}</string>
			<key>spriteSourceSize</key>
			<string>{97, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 0}, {97, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Joker003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 141}</string>
			<key>spriteSourceSize</key>
			<string>{97, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 5}, {97, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Joker004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 141}</string>
			<key>spriteSourceSize</key>
			<string>{97, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 4}, {97, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>