<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Skeleton000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {68, 79}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{68, 79}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {68, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {68, 79}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{68, 79}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 1}, {68, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 0}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {64, 81}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{64, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 1}, {64, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 1}, {64, 81}}</string>
			<key>spriteOffset</key>
			<string>{7, 3}</string>
			<key>spriteSize</key>
			<string>{64, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 0}, {64, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {58, 81}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 1}, {58, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {58, 81}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{58, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 0}, {58, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {56, 83}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{56, 83}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 1}, {56, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {62, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{62, 83}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 92}, {62, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Skeleton009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {60, 81}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{60, 81}</string>
			<key>spriteSourceSize</key>
			<string>{78, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 95}, {60, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 256}</string>
	</dict>
</dict>
</plist>