<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SkeletonTier3000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {70, 84}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{70, 84}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 2}, {70, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SkeletonTier3001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 2}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SkeletonTier3002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 1}, {62, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 86}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {62, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SkeletonTier3003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{88, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 2}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>