<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SoldierSkeleton.000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {58, 79}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{58, 79}</string>
			<key>spriteSourceSize</key>
			<string>{70, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3}, {58, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SoldierSkeleton002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {56, 81}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{56, 81}</string>
			<key>spriteSourceSize</key>
			<string>{70, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 6}, {56, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SoldierSkeleton004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {56, 81}}</string>
			<key>spriteOffset</key>
			<string>{6, 3}</string>
			<key>spriteSize</key>
			<string>{56, 81}</string>
			<key>spriteSourceSize</key>
			<string>{70, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 5}, {56, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SoldierSkeleton005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {52, 81}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{52, 81}</string>
			<key>spriteSourceSize</key>
			<string>{70, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 2}, {52, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>